<form [formGroup]="miFormulario" (ngSubmit)="enviarDatos()" class="form-contenedor">
  
  <label class="label-principal">Nombre de la Lista:</label>
  <input formControlName="nombreLista" placeholder="Ej: Compras" class="input-nombre">

  <hr class="separador">

  <h3>Productos</h3>
  
  <div formArrayName="items">
    <div *ngFor="let item of listaItems.controls; let i = index" 
         [formGroupName]="i" 
         class="item-fila">
      
      <input formControlName="producto" placeholder="Nombre del producto" class="input-producto">
      <input type="number" formControlName="cantidad" placeholder="Cant." class="input-cantidad">

      <button type="button" (click)="eliminarItem(i)" class="btn-eliminar">
        &times; Eliminar
      </button>
    </div>
  </div>

  <div class="acciones-finales">
    <button type="button" (click)="agregarItem()" class="btn-agregar">
      + Agregar Producto
    </button>

    <br><br>
    
    <!-- <button type="submit" [disabled]="miFormulario.invalid" class="btn-guardar">
      Guardar Formulario
    </button>-->
  </div>
</form>
<hr>
<div class="container">
  <h2>Lista de Compras</h2>
  <table class="stiled-table">
<thead>
  <tr>
<th>Producto</th>
<th>Cantidad</th>
</tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listaItems.controls; let i = index">
        <td>{{ item.value.producto }}</td>
        <td>{{ item.value.cantidad }}</td>
      </tr>
      <tr *ngIf="listaItems.length === 0">
        <td colspan="2" class="mensaje-vacio">
          No hay productos en la lista. Agrega algunos para empezar.
        </td>
      </tr>
    </tbody>
  </table>
</div>