body{
background:
linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
url("./assets/billie.jpg");

background-size: cover;
background-position: center;
background-repeat: no-repeat;
min-height:100vh;
}

/* Tarjeta central */
.container{
background: rgba(40,40,40,0.8);
backdrop-filter: blur(10px);
padding:30px;
border-radius:15px;
box-shadow:0 10px 30px rgba(0,0,0,0.5);
}
body{
background:
linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
url("./assets/billie.jpg");

background-size: 120%;
background-position: center;
background-repeat: no-repeat;
min-height:100vh;

animation: fondoMovimiento 20s ease-in-out infinite alternate;
}

/* Animación del fondo */
@keyframes fondoMovimiento{

0%{
background-position: center;
}

50%{
background-position: top;
}

100%{
background-position: bottom;
}

}